<div>
  <h1 x-large class="sample-content">Primeng Calendar and Scheduler Example</h1>

  <hr>

  <hr>

  <div>
    <h4>Scheduler and calendar example....</h4>

    <form novalidate [formGroup]="form">
      <p-calendar
        id="myDate"
        [showIcon]="true"
        showTime="true"
        hourFormat="24"
        dateFormat="dd-mm-yy"
        formControlName="myDate"
        placeholder="set date"
        required>
      </p-calendar>
    </form>

    <p-schedule [events]="events"
      [header]="headerConfig"
      [(defaultDate)]="defaultDate"
      [eventLimit]="4"
      [editable]="false"
      [weekends]="false"
      [aspectRatio]="1.8">
    </p-schedule>

  </div>

</div>
